env DYLD_INSERT_LIBRARIES=/usr/lib/libgmalloc.dylib
env MALLOC_PERMIT_INSANE_REQUESTS=1
#set env MallocStackLogging 1
command alias nodos memory read -s 16 -f int64_t -c 31 me-> odes

settings set target.run-args < caca.txt
#settings set target.run-args < caca1.txt
#settings set target.run-args < caca2.txt
#settings set target.run-args < caca3.txt
#settings set target.run-args < caca4.txt
#settings set target.run-args < caca5.txt
#settings set target.run-args < caca_grande.txt
#settings set target.run-args < /tmp/como.txt
#settings set target.run-args < /tmp/como_rev.txt
#settings set target.run-args < caca_grande_actualizaciones_indice_fix.txt
#settings set target.run-args < caca_grande_random_1.txt > /dev/null
#settings set target.run-args < caca_fiesta_mision_2_random_big.txt
#settings set target.run-args < caca7a.txt
#settings set target.run-args < caca_grande_random_negativos_1.txt
#settings set target.run-args < caca7.txt
#settings set target.run-args < caca9.txt
#settings set target.run-args < caca10.txt
#settings set target.run-args < caca_grande_actualizaciones_indice_dec.txt
#settings set target.run-args < caca_grande_random_1_c.txt
#settings set target.run-args < caca_grande_random_1_d.txt
#settings set target.run-args < caca_negativos.txt
